.theme {
    @include col;
    // margin-bottom: 70px;

    &_view-all {
        @include position($left: 50%, $bottom: 70px, $transform: translate(0%, 100%));
        display: inline-block;
        font-size: 18px;
        text-decoration: underline;
        margin:  0 auto;
        cursor: pointer;

        &:hover {
            color: $red;
        }
    }
}

.theme-card {
    @include col-end-start;
    @include image-bg;
    position: relative;
    height: 450px;
    padding: 28px 22px;
    border-radius: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    overflow: hidden;

    &_border {
        //border: 8px solid rgba($color: $light-orange, $alpha: 0.6);
        @include position($top: 0, $left: 0, $bottom: 0, $right: 0);
        z-index: 3;
    }
    &_img {
        @include position($top: 0, $left: 0, $bottom: 0, $right: 0);
        z-index: 1;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &_overlay {
        @include position($top: 0, $left: 0, $bottom: 0, $right: 0);
        z-index: 2;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.56%, rgba(0, 0, 0, 0.597403) 71.87%, #000000 91.67%);
    }

    &--light-orange {
        .theme-card_title  {
            color: $light-orange;
        }
       .theme-card_border {
            border: 8px solid rgba($color: $light-orange, $alpha: 0.6);
        }
    }


    &--light-blue {
        .theme-card_border {
            border: 8px solid rgba($color: $light-blue, $alpha: 0.6);
        }
        .theme-card_title {
            color: $light-blue
        }
    }

    &--orange {

        .theme-card_border {
            border: 8px solid rgba($color: $orange, $alpha: 0.6);
        }
        .theme-card_title {
            color: $orange
        }
    }

    &--blue {
         .theme-card_border {
            border: 8px solid rgba($color: $blue, $alpha: 0.6);
        }

        .theme-card_title {
            color: $blue
        }
    }

    &--green {
        .theme-card_border {
            border: 8px solid rgba($color: $green, $alpha: 0.6);
        }
        .theme-card_title {
            color: $green
        }
    }

    &_title, &_subtitle {
        z-index: 2;
    }
    
    &_title {
        font-family: 'Gilroy-700', sans-serif;
        text-transform: uppercase;
        color: $light-orange;
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 16px;
    }

    &_subtitle {
        color: white;
        font-size: 25px;
        line-height: 27px;
        font-weight: 500;
    }
}

.slider-dots {
    @include row-bw-center;
    width: max-content;
    margin: 0 auto 0 auto;

    .carousel__dot  {
        height: 10px;
        width: 10px;
        background-color: #DEDEDE;
        border-radius: 50%;
        
        &:not(:last-child) {
            margin-right: 5px;
        }

        &--selected {
            background-color: $red;
        }
    }
}
.theme-slider { 
    position: relative;

    &_btn {
        @include row-center-center;
        @include round($size: 71px, $bgColor: white);
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.15);
        cursor: pointer;

        svg {
            stroke: $dark-gray;
        }

        &:not(:disabled):hover {
            box-shadow: 0px 2px 4px rgba(237, 28, 36, 0.4);
            svg {
                stroke: $red;
            }
        }

        &:not(:disabled):active {
            box-shadow: 0px 1px 2px rgba(237, 28, 36, 0.4);
            background-color: $red;

            svg {
                stroke: white;
            }
        }

        &-next {
            @include position($right: 0px, $top: calc(50% - 55px), $transform: translate(0%, -50%));
            // margin-right: 30px;

            svg {
                transform: rotate(180deg);
            }
        }

        &-back {
            // margin-left: 30px;
            @include position($left: 0px, $top: calc(50% - 55px), $transform: translate(0%, -50%));

           
        }
    }

    &_dots {
     @include row-bw-center;
     width: max-content;
     margin: 0 auto 0 auto;
     display: none;
    transform: translateY(-40px);
    }

    .carousel__dot  {
        height: 10px;
        width: 10px;
        background-color: #DEDEDE;
        border-radius: 50%;
        
        &:not(:last-child) {
            margin-right: 5px;
        }

        &--selected {
            background-color: $red;
            border-radius: 10px;
            width: 25px;

            &+ .carousel__dot--selected{
                display: none;
            }
        }
    }

    &_slides-list {
        width: 100%;
        @include row-bw-start;
        align-items: center;
        margin-bottom: 40px;
        position: relative;

        margin: 0 30px;
        flex: 1;
    }

    &_slide {
        @include col;
        background-color: white;
        border-radius: 10px;
        //overflow: hidden;
        filter: drop-shadow(0px 6px 21px rgba(0, 0, 0, 0.14));
        height: 440px;
        margin-right: 30px;
        cursor: pointer;

        &_img {
            // @include image-bg;
            object-fit: cover;
            height: 295px;
            width: 100%;
        }

        &_content {
            flex: 1;
            @include col-bw-start;
            align-items: stretch;
            padding: 16px;

            &-bottom {
                @include row-bw-end;
            }
        }

        &_title {
            font-family: 'Gilroy-700', sans-serif;
            color: $dark-gray;
            font-size: 25px;
            margin-bottom: 16px;
        }

        &_subtitle {
            font-size: 22px;
            min-width: 215px;
        }

        &_price {
            font-size: 25px;
            font-family: 'Gilroy-700', sans-serif;
            color: $red;
        }
    }

    // FOR SLIDER GOODS
.carousel__slider-tray-wrapper{
    // overflow: hidden !important;
    margin-right: -30px;
    overflow-x: hidden;
    overflow-y: visible;
    // padding: 0 101px 110px 101px;
    padding-bottom: 110px;
        // max-width: 1100px;

  }

}


  .carousel__slider{
  max-width: 1100px;
  margin: 0 auto;
  }

  .carousel {
    position: relative;
    }

.theme-banner {
    @include col-center-stretch;
    align-items: center;
    background-color: $dark-gray;
    border-radius: 10px;
    min-height: 450px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
    color: white;

    &_title {
        font-family: 'Gilroy-700', sans-serif;
        font-size: 73px;
        margin-bottom: 40px;
    }

    &_subtitle {
        font-family: 'Gilroy-400', sans-serif;
        font-size: 24px;
        max-width: 596px;
        font-weight: 500;
    }
}

@media(max-width: 1200px) {

    .theme-slider  {
        padding: 0 16px;
        &_btn {
            display: none;
        }

        &_dots {
            display: flex;
        }

    .carousel__slider-tray-wrapper {
        padding-bottom: 76px;
    }
    }


    .theme_view-all {
        display: none;
    }
}

@media(max-width: 768px) {
    .theme-slider_slide {
        height: unset;
        min-height: 170px ;
        margin-right: 20px;
        &_img {
            height: 200px;
        }

        &_content {
            padding: 10px 8px 15px 7px;

            &-bottom {
                flex-wrap: wrap;
            }
        }


        &_title {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 14px;
        }

        &_subtitle {
            margin-bottom: 9px;
            width: 100%;
            min-width: 130px;
        }

        &_subtitle, &_price {
            font-size: 12px;
            line-height: 14px;
        }
    }

    .theme-slider  .carousel__slider-tray-wrapper {
        margin-right: -20px;
    }
}
@media(max-width: $breakpoint-sm) {
    .theme-card {
        border: unset !important;
        height: 245px;
        padding: 20px 13px;
        margin-bottom: 20px;

        &_title {
            font-size: 30px;
            line-height: 33px;
            margin-bottom: 13px;
        }

        &_subtitle {
            font-size: 20px;
            line-height: 22px;
        }
    }

    .theme-banner {
        border-radius: 0;
        padding: 28px 30px;
        min-height: unset;
        margin-bottom: 40px;
        &_title {
            font-size: 45px;
            line-height: 54px;
            margin-bottom: 13px;
        }

        &_subtitle {
            font-size: 15px;
            line-height: 23px;
            max-width: 244px; //314px;
        }
    }

    .theme-slider_slide {
        
        &_img {
            height: 110px;
        }
    }

}