.hotels-header {
    @include row-bw-center;
    padding: 32px 7px 26px 7px;  
    font-size: 12px;

  &_layout {
    @include row-bw-center;

    &_squares{
        margin-right: 8px;
    }

    &_squares, &_lines {
        cursor: pointer;
    }
  }
}

.hotels-overlay {
    @include position($top:0, $bottom: 0, $left:0, $right: 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 268px;
}

.hotels-filter {
        margin-bottom: 20px;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        &--open {
            position: sticky;
            top: 0;
            background-color: #F5F6F6;
        }
        &_tabs {
            @include row-bw-center;
            border-bottom: 2px solid $red;
        }

        &_item {
            @include row-bw-center;
            background-color: white;
            width: calc((100% - 30px*3)/4);
            padding: 8px 12px 5px 12px;
            cursor: pointer;
            position: relative;
            border-radius: 10px 10px 0 0;

            svg {
                margin-bottom: 7px;
                fill: #ED1C24;
            }

        
            &-title {
                font-family: 'Gilroy-700', sans-serif;
                margin-bottom: 2px;
                font-size: 12px;
            }
    
            &-value {
                color: $dark-gray;
                opacity: 0.6;
                font-size: 11px;
            }

            &-arrow {
                &--active {
                    transform: rotate(180deg);
                }
            }

            &--active {
                background: #F0F0F0;
            }
        }

        &_content {
            background-color: white;

            &_btn-group {
                @include row-center-center;
                margin-top: 24px;
                padding-bottom: 24px;

                .btn:first-child {
                    margin-right: 16px;
                }
            }
        }

        &_city {
            font-size: 15px;
            font-family: 'Gilroy-700', sans-serif;
            padding: 24px 20px;
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 1px solid $dividers;
            }

            &--active {
                background-color: $dividers;
            }

            &--disabled {
                cursor: default;
                color: #a4a4a4;
            }
        }

        &_travellers {
            // margin-top: 7px;
            position: relative;

            &:before {
                @include pseudo($left: 0, $right: 0, $top: 50%, $height: 1px);
                content: "";
                background-color: $dividers;
            }


            &-item {
                width: 100%;
                max-width: 340px;
                @include row-bw-center;
                padding: 28px 0;
                margin: 0 auto;
                font-size: 16px;
                font-family: 'Gilroy-700', sans-serif;


                &_left {
                    width:  41%;
                    @include row-bw-center;
                }

                .btn {
                    background-color: $dark-gray;
                    color: white;

                    &:last-child {
                        background-color: $red;
                        margin-left: 16px;
                    }
                }
            } 
        }
       
        &_date {
            @include col;
            align-items: center;
            margin-bottom: 20px;
            
            &_title {
                font-size: 15px;
                margin-bottom: 18px;
            }

            &-calendar {
                padding-top: 24px;
                width: 100%;
                max-width: 338px;
            }

            &_filters {
                width: 100%;
                border-top: 1px solid $dividers;
                padding-top: 24px;
                font-family: 'Gilroy-700', sans-serif;
            }

            &_radio-btns {
                max-width: 338px;
                margin: 0 auto;

                .radio-btn_wrapper {
                    margin-right: 24px;
                }
            }
        }
}

.react-datepicker {
    width: 100%;
    // max-width: 338px;
    font-family: 'Gilroy-500', sans-serif;
    font-size: 15px;
    border: none;

    &__header{ 
        background-color: transparent;
        border: none;
        margin: 0 10px;
    }
    &__header__dropdown {
        display: flex;
        margin-bottom: 32px;
    }

    &__header__dropdown , &__day-names {
        font-family: 'Gilroy-700', sans-serif;
    }

    &__day-names {
        @include row-bw-center;
        margin-bottom: 18px;
    }

    &__day-name {
        margin: 0;
        line-height: unset;
    }
    &__current-month {
        display: none;
    }

    &__month-year-read-view--down-arrow {
        transform: unset;
        border: none;
        width: 14px;
        height: 100%;
        &:before {
            @include pseudo($right: 0, $top: -2px, $height: 7px);
            content: url("../../assets/arrow_down.svg");
        }
    }
    &__month {
        margin: 0;
    }
    
    &__month-container {
        width: 100%;
    }

    &__week {
        width: 100%;
        display: flex;
        margin-bottom: 19px;
    }

    &__month-year-read-view {
        visibility: visible !important;
    }

    &__month-year-dropdown {
        border: none;
        background-color: white;
        box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        border: 1px solid $dividers;
        top: 34spx;
        left: 0;
        .--selected_month-year {
            background-color: $dividers;

        }
    }

    &__month-year-option {
       margin: 0;
       line-height: unset;
       font-family: 'Gilroy-500', sans-serif;
       font-weight: 500;
       text-align: left;
        padding: 10px 13px;

        &--selected {
            display: none;
           }
    }
    &__day {
        width: unset;
        flex: 1;
        margin: 0;
        line-height: unset;
        position: relative;

        &:hover, &--keyboard-selected, &--selected {
            background-color: unset;
            color: unset;
            border-radius: 0;
        }

        &--outside-month {
            visibility: hidden;
        }

        &--selected {

            &:before {
                content: "";
                @include pseudo($width: 35px, $height: 35px, $top: 50%, $left: 50%, $transform: translate(-50%, -50%));
                border-radius: 50%;
                border: 1px solid $red;
                background-color: rgba($color: $red, $alpha: .5)
            }
        }
    }
    &__navigation {
        display: none;
    }
}
.hotels-list {
    @include row-bw-stretch;
    flex-wrap: wrap;
        position: relative;
        &_card {
            cursor: pointer;
            background-color: white;
            border-radius: 10px;
            filter: drop-shadow(0px 6px 21px rgba(0, 0, 0, 0.07)), drop-shadow(0px 5.5px 3.88168px rgba(0, 0, 0, 0.035));

            &:not(:last-child) {
                margin-bottom: 20px;
            }
            
            &-content {
                @include col-bw-start;
                &_bottom {
                    @include row-bw-center;
                    width: 100%;
                }
            }

            &-img {
                object-fit: cover;
            }

            &-title {
                font-family: 'Gilroy-700', sans-serif;
                text-transform: uppercase;
            }

            &-subtitle {
                opacity: 0.6;
            }

            &-price {
                font-family: 'Gilroy-700', sans-serif;
                color: $red;
            }

            &-row {
                @include row-bw-stretch;
                width: 100%;
                
                .hotels-list_card {
                    min-height: 215px;
                    &-content {
                        padding: 34px 24px 21px 36px;
                        flex: 1;

                        &_top {
                            margin-bottom: 32px;
                        }
                    }
                    &-title   {
                        font-size: 24px;
                        line-height: 30px;
                        margin-bottom: 17px;
                    } 

                    &-subtitle {
                        font-size: 18px;
                        line-height: 19px;
                    }

                    &-date {
                        font-size: 20px;
                        line-height: 22px;
                    }

                    &-price {
                        font-size: 25px;
                        line-height: 30px;
                    }

                    &-img {
                        border-radius: 10px 0px 0px 10px;
                        width: 36%;
                        max-width: 255px;
                    }
                }
            }

            &-col {
                width: calc((100% - 30px)/2);

                .hotels-list_card  {
                    &-content {
                        padding: 18px 12px 22px 12px;
                        @include row-bw-stretch;
                        flex-direction: row;

                        &_top {
                            @include col;
                            margin-right: 12px;
                            margin-bottom: 4px;
                        }

                        &_bottom {
                            @include col;
                            align-items: flex-end;
                        }
                    }
                    
                    &-img {
                        width: 100%;
                        height: 203px;
                        border-radius: 10px 10px 0px 0px;
                    }

                    &-title {
                        font-size: 20px;
                        line-height: 22px;
                    }

                    &-subtitle, &-date  {
                        font-size: 15px;
                        line-height: 15px;
                    }

                    &-price {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }

        }
}

.hotels-pagination {
    margin: 0 auto;
    margin: 46px auto 46px auto;
    width: max-content;
    font-size: 16px;

    .pagination {
        @include row-bw-center;
        margin: 0 18px; 

        &_page {
            display: inline-block;
            position: relative;
            padding: 5px 12px;
            cursor: pointer;
            @include row-center-center;
            min-width: 30px;
            min-height: 30px;

            &--active {
                color: white;
                background-color: $red;
                border-radius: 42px;

                &:before {
                    content: "";
                    @include pseudo($width: 30px, $height: 30px, $left: 50%, $top: 50%, $transform: translate(-50%, -50%));
                    background-color: $red;
                    border-radius: 42px;
                    z-index: -1;
                    overflow: hidden;
                }

                &+ .pagination_next {
                    
                }
            }

            &+ .pagination_next {
                margin-right: 9px;
            }
        }

        &_prev, &_next {
            cursor: pointer;
            position: relative;
            padding: 0 9px;
        }

        &_prev {
            &+ .pagination_page {
                margin-left: 8px;
            }
        }
    
        &_next  { 
            transform: rotate(180deg);
        }
    }
}

@media(max-width: 580px) {
    .hotels-filter {
        background-color: white;
        box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.15);
        margin: 0 -7px 16px -7px;

        &_tabs {
            border-bottom: none;
        }

        &--active {
            border-bottom: 4px solid $red;
        }

        &_item {
            box-shadow: none;
            border-radius: 0;
            width: unset;
            // flex: 1;
            width: 25%;
            // height: 67px;
            padding: 8px 5px 5px 5px;
            div {
                height: 100%;
            }

            &-arrow {
                display: none;
            }
            &:after {
                @include pseudo($width: 1px, $height: 100%, $right: -1px, $top: 0, $bottom: 0);
                background-color: $dividers;
                content: "";
            }

            &--active {
                background-color: $red;
                border-bottom: 1px solid $red;
                svg {
                    fill: white;
                }

                .hotels-filter_item {
                    background-color: $red;
                    &-title, &-value {
                        color: white;
                    }
                }
            }

        }

        &_content {

            &_btn-group {
                justify-content: flex-end;
                padding: 24px 24px 24px 24px;
                margin: 0;
            }
        }

    }
}
@media(max-width: $breakpoint-sm) {
    .hotels-header {
        padding: 16px 7px;
    }


    .hotels-list {
        // padding-bottom: 16px;
        &_card {
            
            &:not(:last-child) {
                margin-bottom: 16px;
            }

            &-subtitle,&-date {
                font-size: 15px;
                line-height: 15px;
            }

            &-price {
                font-size: 20px;
                line-height: 20px;
            }
            &-row {
                @include row-bw-stretch;
                
                .hotels-list_card {
                    &-content {
                        padding: 13px 14px 17px 16px;
                    }

                    &-title   {
                        margin-bottom: 11px;
                        font-size: 18px;
                        line-height: 18px;
                    } 

                    &-price {
                        font-size: 20px;
                        line-height: 20px;
                    }

                    &-date {
                        font-size: 15px;
                        line-height: 15px;
                    }
                }
            }

            &-col {
                width: 100%;

                .hotels-list_card {

                    &-content {

                        &_top {
                            flex: 1;
                            margin-bottom: 0;
                        }

                        &_bottom {
                            width: unset;
                        }
                    }
                    &-title {
                        font-size: 20px;
                        line-height: 22px;
                    }

                    &-title, &-date {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }

    .hotels-pagination {
        margin: 30px auto 35px auto;
    }
}

.preloader-container {
    height: 30vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    background: rgba(241, 242, 243, 0);

    @keyframes preloader {
        0% { opacity: 1 }
        100% { opacity: 0 }
    }

    &_preloader {
        width: 78px;
        height: 78px;
        position: relative;
        transform: translateZ(0) scale(0.78);
        backface-visibility: hidden;
        transform-origin: 0 0;

        &-line {
            left: 47.5px;
            top: 22px;
            position: absolute;
            animation: preloader linear 1.639344262295082s infinite;
            background: #ed1c24;
            width: 5px;
            height: 16px;
            border-radius: 1.92px / 1.92px;
            transform-origin: 2.5px 28px;
            box-sizing: content-box;

            &:nth-child(1) {
                transform: rotate(0deg);
                animation-delay: -1.4903129657228018s;
            }
            &:nth-child(2) {
                transform: rotate(32.72727272727273deg);
                animation-delay: -1.3412816691505216s;
            }
            &:nth-child(3) {
                transform: rotate(65.45454545454545deg);
                animation-delay: -1.1922503725782414s;
            }
            &:nth-child(4) {
                transform: rotate(98.18181818181819deg);
                animation-delay: -1.0432190760059612s;
            }
            &:nth-child(5) {
                transform: rotate(130.9090909090909deg);
                animation-delay: -0.8941877794336811s;
            }
            &:nth-child(6) {
                transform: rotate(163.63636363636363deg);
                animation-delay: -0.7451564828614009s;
            }
            &:nth-child(7) {
                transform: rotate(196.36363636363637deg);
                animation-delay: -0.5961251862891207s;
            }
            &:nth-child(8) {
                transform: rotate(229.0909090909091deg);
                animation-delay: -0.44709388971684055s;
            }
            &:nth-child(9) {
                transform: rotate(261.8181818181818deg);
                animation-delay: -0.29806259314456035s;
            }
            &:nth-child(10) {
                transform: rotate(294.54545454545456deg);
                animation-delay: -0.14903129657228018s;
            }
            &:nth-child(11) {
                transform: rotate(327.27272727272725deg);
                animation-delay: 0s;
            }
        }
    }
}