.hotel-details {
    margin-bottom: 75px;
    &_card {
        background: #FFF;
        border-radius: 10px;
        margin-bottom: 40px;
        &_slider-dots {
            display: flex;
            transform: translateY(-24px);
        }
        .carousel {
            border-radius: 10px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            overflow: hidden;
        }
        &-img {
            height: 275px;
            width: 730px;
            object-fit: cover;
        }
        &-header {
            display: flex;
            flex-wrap: wrap;
            padding: 21px 16px 25px 16px;
            font-size: 16px;
            border-bottom: 1px solid $dividers;
            width: 100%;
            &_title {
                width: 100%;
                font-size: 27px;
                font-family: 'Gilroy-700', sans-serif;
                margin-bottom: 12px;
            }
            &_cities {
                margin-right: 25px;
            }
        }
        &-bottom {
            @include row-bw-center;
            padding: 21px 0 26px 0;
            max-width: 425px;
            margin: 0 auto;
            svg {
                margin-right: 13px;
                &:first-child {
                    width: 25px;
                    height: 25px;
                }
                &:nth-child(2) {
                    width: 26px;
                    height: 20px;
                }
                &:last-child {
                    width: 22px;
                    height: 25px;
                }
            }
        }
        &-flight {
            @include col;
            align-items: center;
            margin: 0 auto;
            border-top: 1px solid $dividers;
            padding: 17px 0 21px 0;
        }
    }
    &_desc-block {
        font-size: 16px;
        margin: 0 auto 32px auto;
        &_text {
            margin-bottom: 5px;
            font-weight: 500;
            //max-height: 88px;
            // height: 88px;
            overflow: hidden;
            // transition: 0.4 max-height ease-in;
            line-height: 22px;
            &--visible {
                max-height: unset;
                transition: height 0.4s ease-in-out;
            }
        }
        &_more {
            @include row-center-center;
            width: max-content;
            color: $red;
            position: relative;
            font-weight: 600;
            cursor: pointer;
            span {
                margin-right: 8px;
            }
            svg {
                stroke: $red;
                transform: rotate(90deg);
            }
        }
    }
    &_flight-block {
        @include row-bw-center;
        align-items: stretch;
        margin-bottom: 60px;
        &_item {
            position: relative;
            width: calc((100% - 30px*3)/4);
            background-color: white;
            border-radius: 10px;
            padding: 17px 9px 11px 9px;
            &-title {
                font-size: 20px;
                margin-bottom: 4px;
                line-height: 26px;
                font-family: 'Gilroy-700', sans-serif;
            }
            &-subtitle {
                font-size: 16px;
                line-height: 21px;
                color: $red;
                margin-bottom: 3px;
            }
            &-desc {
                font-size: 14px;
                line-height: 18px;
                color: $red;
            }

            &:nth-of-type(1) {
                cursor: pointer;
            }

            &-popover {
                display: none;
                width: 185px;
                z-index: 2;
                cursor: default;
                position: absolute;
                left: 0;
                margin-top: 23px;
                background-color: white;
                border-radius: 10px;
                padding: 17px 9px 11px 9px;
                box-shadow: 0 4px 64px rgba(0, 0, 0, 0.15);

                .popover-header {
                    color: $red;
                }

                .popover-text + .popover-header {
                    margin-top: 20px;
                }

                .popover-text {
                    margin-top: 5px;
                }

                .close {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 35px;
                    height: 35px;
                    opacity: 0.3;

                    &:hover { opacity: 0.7; }
                    &:before, &:after {
                        right: 20px;
                        top: 8px;
                        position: absolute;
                        content: ' ';
                        height: 22px;
                        width: 2px;
                        background-color: #333;
                    }
                    &:before { transform: rotate(45deg); }
                    &:after { transform: rotate(-45deg); }
                }
            }

            .popover--open {
                display: block;
            }
        }
    }
    &_more-dates {
        margin: 0 auto 25px auto;
        border-radius: 10px;
        background-color: white;
        &_title {
            margin-bottom: 9px;
            padding-left: 15px;
            font-size: 16px;
        }
        &_item {
            @include row-bw-center;
            padding: 22px 34px 16px 15px;
            border-bottom: 1px solid $dividers;
            &-cities {
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 9px;
            }
            &-cities,
            &-stops {
                margin-right: 65px;
            }
            &-cities,
            &-price {
                font-family: 'Gilroy-700', sans-serif;
            }
            &-stops,
            &-date {
                font-size: 12px;
                line-height: 16px;
            }
            &-stops {
                opacity: 0.5;
            }
            &-price {
                color: $red;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 6px;
            }
            &-price,
            &-date {
                text-align: right;
            }
            .btn {
                border-color: $red;
                color: $red;
                height: 44px;
                width: 80px;
                padding: unset;
                text-transform: none;
                &:active {
                    background-color: $red-hover;
                    color: white;
                }
            }
        }
    }
    &_choice {
        @include row-bw-center;
        width: max-content;
        margin: 0 auto;
        &-price {
            //margin-bottom: 10px;
            font-size: 30px;
            line-height: 30px;
            text-align: right;
        }
        &-date {
            font-size: 12px;
            line-height: 12px;
            font-weight: 500;
            text-align: right;
        }
        .btn {
            margin-left: 16px;
            height: 44px;
            text-transform: none;
            width: 176px;
        }
    }
}

.trevellers-form {
    &_person-passport {
        &_title {
            margin: 32px 0 18px 0;
        }
    }
    .btn {
        width: 100%;
        margin-top: 18px;
    }
}

@media(max-width: 768px) {
    .hotel-details {
        &_card {
            &-img {
                width: 100%;
                overflow: hidden;
            }
        }
    }
}

@media(max-width: $breakpoint-sm) {
    .hotel-details {
        margin-bottom: 50px;
        &--purchase {
            margin-bottom: 30px;
        }
        .carousel {
            order: 0;
        }
        &--travellers {
            margin-bottom: 105px;
        }
        &_card {
            margin-bottom: 23px;
            .carousel,
            &-img {
                height: 205px;
            }
            &_slider-dots {
                margin: 0 0 0 9px;
                transform: translateY(-19px);
            }
            &-header {
                padding: 16px 92px 14px 9px;
                order: 1;
                &_title {
                    font-size: 18px;
                    line-height: 18px;
                }
                &_cities {
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 500;
                }
            }
            &-bottom {
                padding: 25px 25px 27px 11px;
                order: 4;
                svg {
                    margin-right: 10px;
                    &:first-child {
                        width: 19px;
                        height: 19px;
                    }
                    &:nth-child(2) {
                        width: 19px;
                        height: 14px;
                    }
                    &:last-child {
                        width: 16px;
                        height: 19px;
                    }
                }
            }
            &-flight {
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                order: 3;
                padding: 18px 16px 0 0;
            }
            &--purchase {
                @include row-bw-stretch;
                flex-wrap: wrap;
                background: transparent;
                .carousel {
                    height: 130px;
                    width: 130px;
                    margin-right: 16px;
                }
                .hotel-details_card {
                    &-header {
                        width: unset;
                        padding: 16px 0 0 0;
                        flex: 1;
                        border: none;
                    }
                    &-img {
                        height: 130px;
                    }
                    &_slider-dots {
                        display: none;
                    }
                    &-bottom {
                        width: 100%;
                    }
                    &-flight {
                        border: none;
                    }
                }
            }
        }
        &_choice {
            &-price {
                font-size: 18px;
                line-height: 18px;
                color: $dark-green;
            }
            &-date {
                font-size: 14px;
                line-height: 14px;
            }
        }
        &_desc-block {
            margin-bottom: 18px;
            &_text {
                margin-bottom: 10px;
            }
            &_more {
                color: $dark-green;
                svg {
                    stroke: $dark-green;
                }
            }
        }
        &_flight-block {
            flex-wrap: wrap;
            margin-bottom: 30px;
            &_item {
                width: calc((100% - 10px)/2);
                margin-bottom: 11px;
                &-subtitle,
                &-desc {
                    color: $dark-green;
                }
            }
        }
        &_more-dates {
            &_item {
                padding: 22px 15px 16px 23px;
                // &-price, &-date {
                //     margin-right: 40px;
                // }
                &-stops,
                &-cities,
                .row-bw-center {
                    margin-right: 16px;
                }
                &-date,
                &-cities {
                    white-space: nowrap;
                }
                &-stops {
                    white-space: pre-wrap;
                }
                .btn {
                    border-color: $dark-green;
                    color: $dark-green;
                    &:hover {
                        background-color: $dark-green;
                        color: white;
                    }
                }
            }
        }
        &_choice {
            &-price {
                color: $red;
                font-size: 30px;
                line-height: 30px;
            }
        }
    }
    .trevellers-form {
        max-width: unset;
    }
}